@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    max-width: 960px;
    width: 100%;
}

nav {
    width: 100%;
}

.create-car-content {
    margin: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 1rem;
    align-items: center;
    box-shadow: 10px 10px 0 hsl(0, 0%, 68%, 1)
}

.form-btn {
    justify-content: center;
}

.form-btn button {
    margin: 0px 25px;
    width: 25%;
}