@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

ul.navbar-nav li {
    text-transform: uppercase;
}

ul.navbar-nav li:hover {
    background: #dcdddd;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.content-header-img {
    width: 100%;
    height: 430px;
    background-image: url("/public/images/cancuncarrental-2018.jpg");
    position: relative;
    margin: 20px;
}

.content-header-img h2 {
    font-size: 24px;
    text-align: center;
}

.content-header-search {
    position: absolute;
    background-color: #eeee;
    top: 20%;
    left: 5%;
    padding: 10px;
    border-radius: 5px;
}

.input-group-text {
    background: white;
    border: none;
}

.form-control {
    border: none;
}

.content-services {
    margin-top: 30px;
}

.content-services h4 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.content-services-item {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-end: 2 rem;
}

.services-item {
    text-align: center;
}

.services-item i {
    font-size: 5rem;
    margin: 10px;
}

.content-payment {
    margin: 30px;
}

.content-payment-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.payment-item {
    font-size: 3rem;
    text-align: center;
}

footer {
    background-color: #333333;
    color: whitesmoke;
    padding: 5px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 10px auto;
}

.footer-content div h4 {
    text-transform: uppercase;
}

.follow-us i {
    font-size: 2rem;
    margin: 0 3px;
}

.footer-services ul li {
    list-style: none;
}

.footer-services ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.footer-about-company ul li {
    list-style: none;
}

.footer-about-company ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.copyright {
    background-color: #333333;
    color: whitesmoke;
    padding: 5px;
}

.copyright-text {
    text-align: center;
}